//?################################# CSS RESET #######################################
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}
//?################################# HEADER STYLING #######################################
.header{
    h1{
        font-size: 4rem;
        background-color: #2d3436;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
}
//?################################# FOOTER STYLING #######################################
.footer{
    margin-top: 6rem;
    h3{
        width: 100%;
        position: fixed;
        bottom: 0;
        font-size: 2rem;
        background-color: #2d3436;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
}
//?################################# INPUT STYLING #######################################
.input{
    form{
        margin: 1rem;
        display: flex;
        justify-content: center;
        input{
            box-shadow: 0px 0px 20px 0px rgba(45, 52, 54, 0.257);
            width: 300px;
            height: 40px;
            font-size: 1.5rem;
            margin: 2rem 0rem;
            border: none;
            padding: 1rem;
            outline: none;
        }
        button{
            transition: ease-in-out .2s;
            &:active{
                background-color: hsl(193, 9%, 29%);
            }
            border: none;
            height: 40px;
            width: 50px;
            margin: 2rem 0rem;
            background-color: #2d3436;
            box-shadow: 0px 0px 20px 0px rgba(45, 52, 54, 0.257);
            .send{
                font-size: 3rem;
                color: #fff;
            }
        }
    }
}
//?################################# LISTS STYLING #######################################
.lists{
    .list{
        margin: 1rem;
        .task{
            display: flex;
            justify-content: center;
            h1{
                box-shadow: 0px 0px 10px 0px rgba(45, 52, 54, 0.257);
                font-size: 2rem;
                width: 600px;
                height: 50px;
                padding: 1rem;
                margin: 1rem 0rem;
                overflow-x: hidden;
                overflow-y: auto;
            }
            button{
                box-shadow: 0px 0px 10px 0px rgba(45, 52, 54, 0.257);
                margin: 1rem 0rem;
                width: 60px;
                height: 50px;
                background-color: #2d3436;
                outline: none;
                border: none;
                border: 1px solid #fff;
                &:active{
                    background-color: hsl(193, 9%, 29%);
                }
                .remove,.rename{
                    font-size: 3rem;
                    color: #fff;
                }
            }
        }
    }
}
//?################################# RESPONSIVENESS #######################################
@media(max-width:735px){
    .lists{
        .list{
            .task{
                h1{
                    width: 400px;
                }
            }
        }
    }
}
@media(max-width:535px){
    .lists{
        .list{
            .task{
                h1{
                    width: 300px;
                }
            }
        }
    }
}
@media(max-width:535px){
    .lists{
        .list{
            .task{
                h1{
                    width: 300px;
                }
            }
        }
    }
}
@media(max-width:435px){
    .input{
        form{
            button{
                .send{
                    font-size: 2rem;
                }
            }
        }
    }
    .lists{
        .list{
            .task{
                h1{
                    width: 300px;
                    height: 40px;
                    font-size: 1.5rem;
                }
                button{
                    width: 50px;
                    height: 40px;
                    .remove,.rename{
                        font-size: 2rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}
@media(max-width:350px){
    .header{
        h1{
            font-size: 3rem;
        }
    }
}